{% macro input(calendar) %}
<div class="panel-group calendar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title pull-left">
                <a data-toggle="collapse" href="#collapseCalendar">Calendar</a>
            </h4>
            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-plus pull-right" onclick="calendar.addTimeWindowForm(event)"/>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" style="display: none">
            <div class="input-group">
                <span class="input-group-addon">Cause:</span>
                <select class="form-control timeWindowCause">
                    <option>PERSONAL</option>
                    <option>WORKING</option>
                </select>
            </div>
            <div class="input-group date">
                <span class="input-group-addon">Start:</span>
                <input type="text" class="timeWindowStartDate datepicker form-control"/>
                <span class="input-group-addon">End:</span>
                <input type="text" class="timeWindowEndDate datepicker form-control"/>
            </div>
            <span class="btn-group pull-right">
                <button class="btn btn-default glyphicon glyphicon-save" type="button" onclick="calendar.addTimeWindow(event);"/>
                <button class="btn btn-default glyphicon glyphicon-remove" type="button" onclick="calendar.closeTimeWindowForm(event);"/>
            </span>
        </div>
        <div id="collapseCalendar" class="panel-collapse collapse" style="overflow-y: auto">
            <ul class="list-group">
                {% for timeWindow in calendar.timeWindows %}
                    <li class="list-group-item" value="{{ timeWindow.timeWindow|json_encode }}">
                        {{ timeWindow.timeWindow.cause }} - {{ timeWindow.timeWindow.start }} - {{ timeWindow.timeWindow.end }}
                        <span class="glyphicon glyphicon-trash pull-right" onclick="calendar.removeTimeWindow(event)" />
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endmacro %}