<div id="driverDetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body easy-form">

        <input type="text" style="display: none;" class="externalCode" value="{{driver.externalCode.externalCode}}" ></input>
        <input type="text" style="display: none;" class="origin" value="{{driver.externalCode.origin}}" ></input>

        <div class="input-group firstName">
          <span class="input-group-addon" id="basic-addon1">First Name:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{driver.person.firstName}}" ></input>
        </div>
        
        <div class="input-group surName">
          <span class="input-group-addon" id="basic-addon1">Last Name:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{driver.person.surName}}" ></input>
        </div>
        
        <div class="input-group date birthdate">
          <span class="input-group-addon" id="basic-addon1">Birthdate:</span>
          <input type="text" class="datepicker form-control" value="{{driver.person.birthdate|date('d/m/Y')}}">
        </div>
        
        <div class="input-group date earliestStart">
          <span class="input-group-addon" id="basic-addon1">Earliest Start:</span>
          <input type="text" class="datepicker form-control" value="{{driver.earliestStart|date('d/m/Y')}}">
        </div>
        
        <div class="input-group date latestEnd">
          <span class="input-group-addon" id="basic-addon1">Latest End:</span>
          <input type="text" class="datepicker form-control" value="{{driver.latestEnd|date('d/m/Y')}}">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="drivers.save(this)">Save</button>
      </div>
    </div>
</div>