{% import "calendar.html" as cal %}

<div id="driverDetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>

      <div class="modal-body easy-form">
        <input type="text" style="display: none;" class="externalCode" value="{{driver.externalCode.externalCode}}" />
        <input type="text" style="display: none;" class="origin" value="{{driver.externalCode.origin}}" />

        <div class="input-group">
          <span class="input-group-addon">First Name:</span>
          <input type="text" class="firstName form-control" aria-describedby="basic-addon1" value="{{driver.person.firstName}}" />
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Last Name:</span>
          <input type="text" class="surName form-control" aria-describedby="basic-addon1" value="{{driver.person.surName}}" />
        </div>

        <div class="input-group date">
          <span class="input-group-addon">Birthdate:</span>
          <input type="text" class="birthdate datepicker form-control" value="{{driver.person.birthdate|date('m/d/Y hh:MM')}}" />
        </div>

        <div class="input-group date ">
          <span class="input-group-addon">Earliest Start:</span>
          <input type="text" class="earliestStart datepicker form-control" value="{{driver.earliestStart|date('m/d/Y hh:MM')}}" />
          <span class="input-group-addon">Latest End:</span>
          <input type="text" class="latestEnd datepicker form-control" value="{{driver.latestEnd|date('m/d/Y hh:MM')}}" />
        </div>

        {{ cal.input(driver.calendar) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="utils.save(this, 'driverDetails', '/rest/drivers', drivers.buildEntity)">Save</button>
      </div>
    </div>
  </div>
</div>
