{% extends 'layout.html' %}

{% block header %}
  <script async defer src="js/drivers.js"></script>
{% endblock %}

{% block content %}
<div class="container driverContainer">
  <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <div class="panel-heading">Drivers</div>
      <div class="panel-body">
        <p>Create, View, Remove and Update drivers and its calendars.</p>
      </div>
      <table class="table drivers">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
          <tr class="driver" 
              externalCode="{{driver.externalCode.externalCode}}" 
              origin="{{driver.externalCode.origin}}">
            <th scope="row">
              <input type="checkbox" value=""/>
            </th>
            <td>{{driver.person.firstName}} {{driver.person.surName}}</td>
            <td>{{driver.person.birthdate|date('jS F, Y')}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.driver', '/view/drivers/details')">Update</button>
                <button type="button" class="btn btn-default" onclick="utils.remove(this, '.driver', '/rest/drivers')">Remove</button>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.driver', '/view/drivers/details')">Create</button>
  </div>
</div>

{% endblock %}