{% extends 'coverLayout.html' %}
{% block content %}
<div class="row">
        <div class="col-md-4">
          <h2>Integrated</h2>
          <p>With a easy, simple and robust REST API, you can integrate our system to any other, with it we can create and update order, driver, vehicles, distribution centers, routes and delivery points.</p>
          
        </div>
        <div class="col-md-4">
          <h2>Flexible</h2>
          <p>With a simple and easy flow, you can control position, calendar and much more from drivers and vehicles.</p>
          
       </div>
        <div class="col-md-4">
          <h2>Ready to use</h2>
          <p>Have no time to integrate your system to EAsyRoute, don't worry, sign up and start to registry your fleet.</p>
          
        </div>
      </div>
{% endblock %}