{% extends 'layout.html' %}

{% block header %}
  <script async defer src="js/orders.js"></script>
  <script async defer src="js/routes.js"></script>
  <script async defer src="js/routeMap.js"></script>
{% endblock %}

{% block content %}
    <div class="container orderContainer">
      <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
          <div class="panel-heading">Orders</div>
          <div class="panel-body">
            <p>Select all orders to be routed. Remember that only pending orders will be routed and the routing algorithm will only use availables drivers and vehicles. 
            </p>
          </div>
          <table class="table orders">
            <thead>
              <tr>
                <th>#</th>
                <th>Client Name</th>
                <th>Address</th>
                <th>Status</th>
                <th>Weight</th>
                <th>Priority Level</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for order in orders %}
              <tr class="order" externalCode="{{order.externalCode.externalCode}}" origin="{{order.externalCode.origin}}">
                <th scope="row">
                  <input type="checkbox" value="" />
                </th>
                <td>{{order.deliveryPoint.name}}</td>
                <td>
                  {{order.deliveryPoint.routePoint.street}}
                  <a href="http://maps.google.com/maps?q={{order.deliveryPoint.routePoint.latitude}},{{order.deliveryPoint.routePoint.longitude}}" target="_blank"> Map </a>
                </td>
                <td>{{order.status}}</td>
                <td>{{order.weight}}</td>
                <td>{{order.priorityLevel}}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.order', '/view/orders/details')">Update</button>
                    <button type="button" class="btn btn-default" onclick="utils.remove(this, '.order', '/rest/orders')">Remove</button>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.order', '/view/orders/details')">Create</button>
        <button type="button" class="btn btn-default" onclick="routeManager.compute()">Compute Route</button>
      </div>
    </div>
{% endblock %}