<div id="orderDetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body easy-form">
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Delivery Point</span>
          <input type="text" 
                class="form-control" 
                aria-describedby="basic-addon1" 
                value="{{order.deliveryPoint.name}}"
                externalcode="{{order.deliveryPoint.externalCode.externalCode}}"
                origin="{{order.deliveryPoint.externalCode.origin}}"></input>

          <div class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="deliveryPoints.openSelectModal(this)">Select</button>
          </div>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Distribution Center</span>
          <input type="text" 
                class="form-control" 
                aria-describedby="basic-addon1" 
                value="{{order.distributionCenter.name}}"
                externalcode="{{order.distributionCenter.externalCode.externalCode}}"
                origin="{{order.distributionCenter.externalCode.origin}}"></input>
          <div class="input-group-btn">
              <button type="button" class="btn btn-default" onclick="distributionCenters.openSelectModal(this)">Select</button>
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Priority:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{order.priorityLevel}}" ></input>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Weight:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{order.weight}}" ></input>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Deadline:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{order.deadline}}" ></input>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Status:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{order.status}}" ></input>
        </div>
        
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Address:</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1" value="{{order.deliveryPoint.routePoint.street}}, 
          {{order.deliveryPoint.routePoint.number}} - 
          {{order.deliveryPoint.routePoint.city}}, 
          {{order.deliveryPoint.routePoint.state}} - 
          {{order.deliveryPoint.routePoint.postalCode}} 
          <a href='http://maps.google.com/maps?q={{order.deliveryPoint.routePoint.latitude}},{{order.deliveryPoint.routePoint.longitude}}' target='_blank'> Map </a>"></input>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="orders.save(this)">Save</button>
      </div>
    </div>

    <div class="selectionModal"><!-- AJAX --></div>

  </div>
</div>
