<div id="orderDetails" class="orderDetails modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body easy-form">
        <input type="text" style="display: none;" class="externalCode" value="{{order.externalCode.externalCode}}" />
        <input type="text" style="display: none;" class="origin" value="{{order.externalCode.origin}}" />

        <div class="input-group deliveryPoint">
          <span class="input-group-addon">Delivery Point</span>
          <select class="selectpicker" data-live-search="true">
            {% for deliveryPoint in deliveryPoints %}
              <option data-tokens="{{deliveryPoint.name}}"
              {% if order.deliveryPoint.externalCode|json_encode == deliveryPoint.externalCode|json_encode %}
                selected
              {% endif %}
              value="{{deliveryPoint.externalCode|json_encode}}">{{deliveryPoint.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="input-group distributionCenter">
          <span class="input-group-addon" >Distribution Center</span>
          <select class="selectpicker" data-live-search="true">
            {% for distributionCenter in distributionCenters %}
              <option data-tokens="{{distributionCenter.name}}"
              {% if order.distributionCenter.externalCode|json_encode == distributionCenter.externalCode|json_encode %}selected{% endif %} value="{{distributionCenter.externalCode|json_encode}}">{{distributionCenter.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="input-group">
          <span class="input-group-addon">Priority Level:</span>
          <input type="number" class="priorityLevel form-control" aria-describedby="basic-addon1" value="{{order.priorityLevel}}" />
        </div>

        <div class="input-group">
          <span class="input-group-addon">Weight:</span>
          <input type="number" class="weight form-control" aria-describedby="basic-addon1" value="{{order.weight}}" />
          <span class="input-group-addon">Volume:</span>
          <input type="number" class="volume form-control" aria-describedby="basic-addon1" value="{{order.volume}}" />
        </div>

        <div class="input-group">
          <span class="input-group-addon">Penalty:</span>
          <input type="number" class="penalty form-control" aria-describedby="basic-addon1" value="{{order.penalty}}" />
        </div>

        <div class="input-group date deliverTimeWindow">
          <span class="input-group-addon">Delivery</span>
          <span class="input-group-addon">Start</span>
          <input type="text" class="start datepicker form-control" value="{{order.deliverTimeWindow.start|date('m/d/Y hh:MM')}}">
          <span class="input-group-addon">End</span>
          <input type="text" class="end datepicker form-control" value="{{order.deliverTimeWindow.end|date('m/d/Y hh:MM')}}">
        </div>

        <div class="input-group date pickupTimeWindow">
          <span class="input-group-addon">Pickup</span>
          <span class="input-group-addon">Start</span>
          <input type="text" class="start datepicker form-control" value="{{order.pickupTimeWindow.start|date('m/d/Y hh:MM')}}">
          <span class="input-group-addon">End</span>
          <input type="text" class="end datepicker form-control" value="{{order.pickupTimeWindow.end|date('m/d/Y hh:MM')}}">
        </div>

        <div class="input-group status">
          <span class="input-group-addon">Status:</span>
            <div class="input-group-addon">
              {% for status in statuses %}
                <label class="checkbox-inline">
                  <input name="status" type="radio" value="{{status}}"
                    {% if status == order.status %}checked="checked"{% endif %}/> {{status}}
                </label>
              {% endfor %}
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="utils.save(this, 'orderDetails', '/rest/orders', orders.buildEntity)">Save</button>
      </div>
    </div>

    <div class="selectionModal"><!-- AJAX --></div>

  </div>
</div>
