<form role="form">
  <div class="form-group">
    <label>Nome Completo:</label>
    <input type="text" class="form-control" id="complete-name">
  </div>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Senha:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label>CPF/CNPJ:</label>
    <input type="text" class="form-control" id="cpf-cnpj">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Esqueci a senha</label>
  </div>
  <button type="submit" class="btn btn-default">Cadastrar</button>
</form>