{% extends 'layout.html' %}

{% block header %}
  <script async defer src="js/routes.js"></script>
{% endblock %}

{% block content %}
<div class="container routeContainer">
  <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <div class="panel-heading">Routes</div>
      <div class="panel-body">
        <p>Select all routes to be routed. Remember that only pending routes will be routed and the routing algorithm will only use availables drivers and vehicles. 
        </p>
      </div>
      <table class="table routes">
        <thead>
          <tr>
            <th>#</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Distribution Center</th>
            <th>Status</th>
            <th>Vehicle Type</th>
            <th>Driver</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for route in routes %}
          <tr class="route" externalCode="{{route.externalCode.externalCode}}" origin="{{route.externalCode.origin}}">
            <th scope="row">
              <input type="checkbox" value=""></input>
            </th>
            <td>{{route.startDate}}</td>
            <td>{{route.endDate}}</td>
            <td>{{route.distributionCenter.name}}</td>
            <td>{{route.status}}</td>
            <td>{{route.vehicle.type}}</td>
            <td>{{route.driver.person.firstname}} {{route.driver.person.surname}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="routes.schedule(this)">Details</a></li>
                  <li><a href="#" onclick="routes.remove(this)">Remove</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-default" onclick="routes.compute()">Compute New Route</button>
  </div>
</div>

{% endblock %}