{% extends 'layout.html' %}

{% block header %}
  <script async defer src="js/vehicles.js"></script>-
{% endblock %}

{% block content %}
<div class="container vehicleContainer">
  <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <div class="panel-heading">Vehicles</div>
      <div class="panel-body">
        <p>Create, View, Remove and Update vehicles and its calendars.</p>
      </div>
      <table class="table vehicles">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Capacity (Weight)</th>
            <th>Capacity (Volume)</th>
            <th>Axes</th>
          </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
          <tr class="vehicle" externalCode="{{vehicle.externalCode.externalCode}}" origin="{{vehicle.externalCode.origin}}">
            <th scope="row">
              <input type="checkbox" value=""></input>
            </th>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.totalWeight}}</td>
            <td>{{vehicle.totalVolume}}</td>
            <td>{{vehicle.axes}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" onclick="vehicles.schedule(this)">Details</a></li>
                  <li><a href="#" onclick="vehicles.remove(this)">Remove</a></li>
                  <li><a href="#" onclick="vehicles.update(this)">Update</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-default" onclick="vehicles.computeNewVehicle(this)">Compute New Vehicle</button>
  </div>
</div>

<button type="button" style="display: none;" class="btn btn-info btn-lg modalOpener" data-toggle="modal" data-target="#vehicleDetails"></button>

{% endblock %}