{% import "calendar.html" as cal %}

<div id="vehicleDetails" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Details</h4>
      </div>
      <div class="modal-body easy-form">

        <input type="text" style="display: none;" class="externalCode" value="{{vehicle.externalCode.externalCode}}" />
        <input type="text" style="display: none;" class="origin" value="{{vehicle.externalCode.origin}}" />

        <div class="input-group">
          <span class="input-group-addon" >Type:</span>
          <input type="text" class="form-control type" aria-describedby="basic-addon1" value="{{vehicle.type}}" />
        </div>

        <div class="input-group distributionCenter">
          <span class="input-group-addon" >Distribution Center</span>
          <select class="selectpicker" data-live-search="true">
            {% for distributionCenter in distributionCenters %}
            <option data-tokens="{{distributionCenter.name}}"
                    {% if order.distributionCenter.externalCode|json_encode == distributionCenter.externalCode|json_encode %}selected{% endif %} value="{{distributionCenter.externalCode|json_encode}}">{{distributionCenter.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="input-group maxVelocity">
          <span class="input-group-addon" >Max Velocity:</span>
          <input type="number" class="form-control" aria-describedby="basic-addon1" value="{{vehicle.maxVelocity}}" />
        </div>

        <div class="input-group">
          <span class="input-group-addon" >Cost per time:</span>
          <input type="number" class="form-control costPerTime" aria-describedby="basic-addon1" value="{{vehicle.costPerTime}}" />
          <span class="input-group-addon" >Cost per distance:</span>
          <input type="number" class="form-control costPerDistance" aria-describedby="basic-addon1" value="{{vehicle.costPerDistance}}" />
        </div>

        <div class="input-group">
          <span class="input-group-addon" >Max. weight:</span>
          <input type="number" class="form-control totalWeight" aria-describedby="basic-addon1" value="{{vehicle.totalWeight}}" />
          <span class="input-group-addon" >Max. volume:</span>
          <input type="number" class="form-control totalVolume" aria-describedby="basic-addon1" value="{{vehicle.totalVolume}}" />
          <span class="input-group-addon" >Axes:</span>
          <input type="number" class="form-control axes" aria-describedby="basic-addon1" value="{{vehicle.axes}}" />
        </div>

        <div class="input-group date">
          <span class="input-group-addon" >Earliest Start:</span>
          <input type="text" class="earliestStart datepicker form-control" value="{{vehicle.earliestStart|date('m/d/Y hh:MM')}}">
          <span class="input-group-addon" >Latest End:</span>
          <input type="text" class="latestEnd datepicker form-control" value="{{vehicle.latestEnd|date('m/d/Y hh:MM')}}">
        </div>

        <div class="input-group date endTime">
          <span class="input-group-addon" >End Time:</span>
          <input type="text" class="datepicker form-control" value="{{vehicle.endTime|date('m/d/Y hh:MM')}}">
          <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>

        {{ cal.input(vehicle.calendar) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="utils.save(this, 'vehicleDetails', '/rest/vehicles', vehicles.buildEntity)">Save</button>
      </div>
    </div>
  </div>
</div>
