{% extends 'layout.html' %}

{% block header %}
  <script async defer src="js/vehicles.js"></script>
{% endblock %}

{% block content %}
<div class="container vehicleContainer">
  <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <div class="panel-heading">Vehicles</div>
      <div class="panel-body">
        <p>Create, View, Remove and Update vehicles and its calendars.</p>
      </div>
      <table class="table vehicles">
        <thead>
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Capacity (Weight)</th>
            <th>Capacity (Volume)</th>
            <th>Axes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
          <tr class="vehicle" externalCode="{{vehicle.externalCode.externalCode}}" origin="{{vehicle.externalCode.origin}}">
            <th scope="row">
              <input type="checkbox" value=""></input>
            </th>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.totalWeight}}</td>
            <td>{{vehicle.totalVolume}}</td>
            <td>{{vehicle.axes}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.vehicle', '/view/vehicles/details')">Update</button>
                <button type="button" class="btn btn-default" onclick="utils.remove(this, '.vehicle', '/rest/vehicles')">Remove</button>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-default" onclick="utils.openUpdateOrCreateModal(this, '.vehicle', '/view/vehicles/details')">Create</button>
  </div>
</div>
{% endblock %}